{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}

{{!-- * Create a button in `index.handlebars` that will submit the user input into the database. --}}
<div class="container">
    <h1>Eat-Da-Burger!</h1>
    <div id="sections">
        <h3>To be eaten:</h3>
        <div></div>
        <div></div>
        <h3>Devoured:</h3>
    </div>
    <ul>
        {{#each burger}}
            <li {{#if devoured}}class="devouredClass"{{else}}class="burgerClass"{{/if}} data-devoured="{{devoured}}">
                <div class="burgerItem">{{id}}. {{burger_name}}</div>
                {{#if devoured}}<div class="burgPlaceholder"></div>{{else}}<button  data-id="{{id}}" class="devourBtn">Chomp!</button>{{/if}}
                <div class="placeholder"></div>
            </li>
        {{/each}}
    </ul>
</div>
<form>
    <input type="text-area" id="addBurger" name="name" /> 
    <br>
    <button type="submit" id ="submitBurger">Add new Burger</button>
</form>
<p>Enter a burger you wanna eat and click "Add new Burger" button.</p>