<div class="container">
  <h1>Eat-Da-Burger!</h1>
  <div id="sections">
    <h3>To be eaten:</h3>
    <div></div>
    <h3>Devoured:</h3>
  </div>
  <ul>
    {{#each burger}}
      <li {{#if devoured}}class="devouredRow"{{else}}class="burgerRow"{{/if}} data-devoured="{{devoured}}">
        <div class="burgerListItem">{{id}}. {{burger_name}}</div>
        {{#if devoured}}<div class="placeholder"></div>{{else}}<button  data-id="{{id}}" class="devourButton">Devour it!</button>{{/if}}
        <div class="placeholder"></div>
      </li>
    {{/each}}
    </ul>
  </div>
</div>
<div class="container">
  <form>
      <input type="text-area" id="addBurger" name="name"/>
    <br>
    <button type="submit" id="submitBurger">Add new Burger</button>
  </form>
</div>
<p>Enter a burger you wanna eat and click "Add new Burger" button.</p>